<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">20 years of experience</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lee Choi Trading Company is a leading importer of post-industrial and post-consumer e-waste and plastic scrap. Established in 1997, our head office is located in Hong Kong with affiliate networks in southern China.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Gateway to China</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our extensive and reliable client network, deep roots and local expertise in southern China will bring you peace of mind. Once your container is shipped and the standard procedures completed, we will take care of the rest.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Your trusted partner</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We adhere to the highest level of business conduct and have a track record of quality and trust among our business partners. Throughout the years, Lee Choi has maintained great business relationships with our supplier overseas and processors / factories in China.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Specialist knowledge</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our specialist knowledge of e-waste, plastics and their recycling applications makes Lee Choi a strategic partner to meet your needs.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
