<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">If you are a supplier, manufacturer or recycler looking to sell, get in touch! We hope to be your dealer of choice.</h3>
                    <p class="text-muted text-left">Email: luileechoi@gmail.com
                        <br>Phone: +852 24090534
                        <br>Address: 1502, 15/F, City Landmark I, 68 Chung On St, Tsuen Wan, Hong Kong</p>
                </div>
            </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
