<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Registered and based in Hong Kong, we import non-ferrous metal, e-waste and plastic scrap from suppliers around the world. We are committed to recycling waste and reducing the disposal of useful materials.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Telecom and e-waste</h4>
                    <p class="text-muted">Adaptor, fans, docking stations, keyboards, HD, Mice/consumer electronics, server, phones, power supplies, laptops, cable box, yokes, e-meters, TV boards, PC boards, copperboard.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Non-ferrous metal</h4>
                    <p class="text-muted">Copper, Aluminum, Iron, Zinc</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Plastic</h4>
                    <p class="text-muted">ABS, EVA, EVOH, Nylon, PC, PMMA, PS, PBT, POM, PTFE, PET, PVC, PP, PA/PE, PE, etc.</p>
                </div>
            </div>
        </div>
    </section>
